<div class="container container-dashboard">
  <div class="row">
    <div class="col-sm-3">
      <div class="dashboard-profile-card">
        <div class="row">
          <div class="col-sm-12">
            <img class="thumbnail avatar" src="<%=current_user.profile_image_url %>"> 
            <div class="user-fields">
              <h4><%= current_user.name %></h4>
              <p class="text-muted screen-name">@<%= current_user.screen_name %></p>
            </div>
          </div>
        </div>
        <div class="row stats">
          <div class="col-sm-4">
            <div class="first-stat-group">
              <span class="stat-label">TWEETS</span>
              <span class="stat-value"><%= current_user.tweets_count %></span>
            </div>
          </div>
          <div class="col-sm-4">
            <span class="stat-label">FOLLOWING</span>
            <span class="stat-value"><%= current_user.following_count %></span>
          </div>
          <div class="col-sm-4">
            <span class="stat-label">FOLLOWERS</span>
            <span class="stat-value"><%= current_user.followers_count %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <% current_user.home_timeline.each do |tweet| %>
        <div class="tweet">
          <div class="row">
            <div class="col-sm-12">
              <img class="thumbnail-avatar" src="<%= tweet.user.profile_image_url %>">
                <strong>
                  <%= tweet.user.name %> 
                </strong>
                <span class="screen-name">
                  @<%= tweet.user.screen_name %>
                </span>
              <p><%= tweet.full_text %></p>
            </div>
          </div>
      </div>
      <% end %>
    </div>
    <div class="col-sm-3">
      Who to follow
    </div>
  </div>
</div> <!-- /container-fluid -->
