<div class="container container-dashboard">
  <div class="row">
    <div class="col-sm-3">
      <div class="dashboard-profile-card">
        <div class="row">
          <div class="col-sm-12">
            <img class="thumbnail avatar" src="<%=current_user.profile_image_url %>"> 
            <div class="user-fields">
              <h4><%= current_user.name %></h4>
              <p class="text-muted screen-name">@<%= current_user.screen_name %></p>
            </div>
          </div>
        </div>
        <div class="row stats">
          <div class="col-sm-4">
            <div class="first-stat-group">
              <span class="stat-label">TWEETS</span>
              <span class="stat-value"><%= current_user.tweets_count %></span>
            </div>
          </div>
          <div class="col-sm-4">
            <span class="stat-label">FOLLOWING</span>
            <span class="stat-value"><%= current_user.following_count %></span>
          </div>
          <div class="col-sm-4">
            <span class="stat-label">FOLLOWERS</span>
            <span class="stat-value"><%= current_user.followers_count %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="tweet tweet-form">
        <%= form_tag("/tweet", method: :post) do %>
          <%= text_area_tag(:tweet, "What's happening?", class: "form-control tweet-text-area") %>
          <%= submit_tag("Tweet", class: "btn btn-default btn-tweet") %>
        <% end %>
      </div>
      <% current_user.home_timeline.each do |tweet| %>
        <div class="tweet">
          <div class="row">
            <div class="col-sm-12">
              <img class="thumbnail-avatar" src="<%= tweet.user.profile_image_url %>">
              <strong>
                <%= tweet.user.name %> 
              </strong>
              <span class="screen-name">
                @<%= tweet.user.screen_name %>
            </span>
            <p><%= tweet.full_text %></p>
            <% if tweet.favorited? %>
              <span class="btn btn-favorite glyphicon glyphicon-star favorited-star"
                    aria-hidden="true"></span>
            <% else %>
              <%= form_tag(favorite_path(tweet_id: tweet.id), method: :post) do %>
                <button type="submit" class="btn btn-favorite">
                  <span class="glyphicon glyphicon-star favorite-star"
                        aria-hidden="true"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Favorite">
                  </span>
                </button>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3">
      Who to follow
    </div>
  </div>
</div> <!-- /container-fluid -->
