<div class="container container-dashboard">
  <div class="row">
    <div class="col-sm-3">
      <div class="dashboard-profile-card">
        <div class="row">
          <div class="col-sm-12">
            <img class="thumbnail avatar" src="<%=current_user.profile_image_url %>"> 
            <div class="user-fields">
              <h4><%= current_user.name %></h4>
              <p class="text-muted screen-name">@<%= current_user.screen_name %></p>
            </div>
          </div>
        </div>
        <div class="row stats">
          <div class="col-sm-4">
            <div class="first-stat-group">
              <span class="stat-label">TWEETS</span>
              <span class="stat-value"><%= current_user.tweets_count %></span>
            </div>
          </div>
          <div class="col-sm-4">
            <span class="stat-label">FOLLOWING</span>
            <span class="stat-value"><%= current_user.following_count %></span>
          </div>
          <div class="col-sm-4">
            <span class="stat-label">FOLLOWERS</span>
            <span class="stat-value"><%= current_user.followers_count %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="main-tweet-form" class="tweet tweet-form">
        <%= form_tag("/tweet", method: :post) do %>
          <%= text_area_tag(:tweet, "What's happening?", class: "form-control tweet-text-area") %>
          <%= submit_tag("Tweet", class: "btn btn-default btn-tweet") %>
        <% end %>
      </div>
      <% current_user.home_timeline.each do |tweet| %>
        <div class="tweet">
          <div class="row">
            <div class="col-sm-12">
              <img class="thumbnail-avatar" src="<%= tweet.user.profile_image_url %>">
              <strong>
                <%= tweet.user.name %> 
              </strong>
              <span class="screen-name">
                @<%= tweet.user.screen_name %>
            </span>
            <p><%= tweet.full_text %></p>
            <span class="btn btn-reply glyphicon glyphicon-share-alt reply-arrow"
                  aria-hidden="true"
                  data-toggle="tooltip" 
                  data-placement="top"
                  title="Reply">
            </span>
            <% if tweet.retweeted? %>
              <span class="btn btn-retweet glyphicon glyphicon-retweet retweeted-arrows"
                    aria-hidden="true"></span>
            <% else %>
              <%= form_tag(retweet_path(tweet_id: tweet.id),
                                        method: :post,
                                        class: "tweet-button") do %>
                  <button type="submit" class="btn btn-retweet">
                    <span class="glyphicon glyphicon-retweet retweet-arrows"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Retweet">
                    </span>
                  </button>
              <% end %>
            <% end %>
            <% if tweet.favorited? %>
              <span class="btn btn-favorite glyphicon glyphicon-star favorited-star"
                    aria-hidden="true"></span>
            <% else %>
              <%= form_tag(favorite_path(tweet_id: tweet.id),
                                        method: :post,
                                        class: "tweet-button") do %>
                  <button type="submit" class="btn btn-favorite">
                    <span class="glyphicon glyphicon-star favorite-star"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Favorite">
                    </span>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
        <div class="tweet tweet-form reply-form">
          <%= form_tag("/reply", method: :post) do %>
            <%= hidden_field_tag("tweet_id", tweet.id) %>
            <%= text_area_tag(:tweet, "@#{tweet.user.screen_name}", class: "form-control tweet-text-area") %>
            <%= submit_tag("Tweet", class: "btn btn-default btn-tweet") %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3">
      <small id="signature">
        <span class="glyphicon glyphicon-copyright-mark
        " aria-hidden="true"></span> 2015 
      Lovingly made in Colorado at Turing School of Software &amp; Design by Sebastian Abondano
      </small> 
    </div>
  </div>
</div> <!-- /container-fluid -->

<!-- Make reply to tweet form appear -->
<script>
$(".glyphicon-share-alt").on("click", function() {
  $(this).parents(".tweet").next(".reply-form").fadeToggle();
});
</script>
